<h1 class="jumbotron">Welcome to Son of Cod online seafood store!</h1>
<h2 class="well">We were established in 1993 by a couple of Salmon slurpers and we've been proudly serving the Portland area ever since. You won't find fresher and more diverse seafood selections anywhere else!</h2>
